.r-alert {
    display: block;
    background: #fa776a;
    padding: 0 15px;
    line-height: 18px;
    vertical-align: middle;
    font-size: 12px !important;
    font-weight: bold !important;
    color: #ffffff;
}

.text-danger {
    color: #fa776a;
}
